# Игнорируем виртуальное окружение
venv/
.venv/

# Игнорируем файлы базы данных
*.db
*.sqlite3


# Игнорируем логи
*.log

# Игнорируем кеш Python
__pycache__/

# Игнорируем настройки PyCharm
.idea/

# Игнорируем переменные окружения
.env
